<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common_music :: head_bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{common_music :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">DETAIL SONG</h2>
    <button class="btn btn-warning"><a href="/" class="text-decoration-none">Go List Song</a></button>
</div>
<div class="px-5 col">
    <table class="table">
        <tr>
            <td class="col-4"></td>
            <th class="col-3">ID of Song</th>
            <td class="col-3" th:text="${music.id}"></td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-4"></td>
            <th class="col-3">Name of Song</th>
            <td class="col-3" th:text="${music.name}"></td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-4"></td>
            <th class="col-3">Singer of Product</th>
            <td class="col-3" th:text="${music.singer}"></td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-4"></td>
            <th class="col-3">Kind of Song</th>
            <td class="col-3" th:text="${music.kindOfMusic}"></td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-4"></td>
            <th class="col-3">Path of Song</th>
            <!--            <td class="col-3" th:text="${music.path}"></td>-->
            <td><a class="text-decoration-none" th:href="@{${music.path}}">Click</a></td>
            <td class="col-2"></td>
        </tr>
    </table>
</div>
<th:block th:replace="~{common_music :: foot_bootstrap}"></th:block>
</body>
</html>