<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common/layout :: head_bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{common/layout :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">LIST CUSTOMER ARE USING SERVICE</h2>
    <!--    <button class="btn btn-warning"><a href="/create" class="text-decoration-none">Create Product</a></button>-->
    <p class="text-success pt-2" th:text="${mess}"></p>
</div>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-5"></div>-->
<!--        <div class="col-7">-->
<!--            <form class="d-flex" action="/service/list">-->
<!--                <input class="form-control me-2" type="search" placeholder="Service Code" aria-label="Search"-->
<!--                       name="search_code">-->
<!--                <input class="form-control me-2" type="search" placeholder="Service Name" aria-label="Search"-->
<!--                       name="search_name">-->
<!--                <select name="search_category" class="form-select" aria-label="Default select example">-->
<!--                    <option th:value="-1">Rent Type</option>-->
<!--                    <option th:each="category : ${rentTypeList}" th:value="${category.rentTypeId}"-->
<!--                            th:text="${category.rentTypeName}"></option>-->
<!--                </select>-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <div class="col-1"></div>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<div class="p-5">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contract ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Service Name</th>
            <th scope="col">Description Other Convenience</th>
            <th scope="col">Service Cost</th>
            <th scope="col">Attach Service Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Money</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="service, hong : ${serviceNowList}">
                <td th:text="${hong.count}"></td>
                <td th:text="${service.contractId}"></td>
                <td th:text="${service.customerName}"></td>
                <td th:text="${service.serviceName}"></td>
                <td th:text="${service.descriptionOtherConvenience}"></td>
                <td th:text="${service.serviceCost}"></td>
                <td th:text="${service.attachServiceName}"></td>
                <td th:text="${service.quantity}"></td>
                <td th:text="${service.totalMoney}"></td>
            </tr>
        </tbody>
    </table>
</div>


<!--<div class="col-11">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination justify-content-end">-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" th:if="${servicePage.hasPrevious()}"-->
<!--                   th:href="@{/service/list/(page=${servicePage.number - 1}, key1=${searchName}, key2=${searchCode}, key3=${searchCategory})}">Previous</a>-->
<!--            </li>-->
<!--            &lt;!&ndash;            <li class="page-item"><span th:text="${productList.number + 1}"></span></li>&ndash;&gt;-->
<!--            <li class="page-item"><a class="page-link"><span th:text="${servicePage.number + 1}"></span></a></li>-->
<!--            <li class="page-item page-link">/</li>-->
<!--            <li class="page-item"><a class="page-link"><span th:text="${servicePage.totalPages}"></span></a></li>-->
<!--            &lt;!&ndash;            <li class="page-item"><span th:text="${productList.totalPages}"></span></li>&ndash;&gt;-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" th:if="${servicePage.hasNext()}"-->
<!--                   th:href="@{/service/list/(page=${servicePage.number + 1}, key1=${searchName}, key2=${searchCode}, key3=${searchCategory})}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->


<th:block th:replace="~{common/layout :: foot}"></th:block>
<th:block th:replace="~{common/layout :: foot_bootstrap}"></th:block>
</body>
</html>