<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common_product :: head_bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{common_product :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">CREATE PRODUCT</h2>
    <!--    <button class="btn btn-warning"><a href="/" class="text-decoration-none">Go List Product</a></button>-->
</div>
<div class="container">
    <div class="px-5 row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/save" method="post" th:object="${productDto}">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default0">Code of Product</span>
                    <input type="text" th:field="*{code}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default0">
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('code')}"
                          th:errors="*{code}"></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default1">Name of Product</span>
                    <input type="text" th:field="*{name}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default1">
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default2">Price of Product</span>
                    <input type="text" th:field="*{price}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default2">
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('price')}"
                          th:errors="*{price}"></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default3">Detail of Product (color)</span>
                    <input type="text" th:field="*{detail}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default3">
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('detail')}"
                          th:errors="*{detail}"></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default4">Producer of Product</span>
                    <input type="text" th:field="*{producer}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default4">
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('producer')}"
                          th:errors="*{producer}"></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default5">Category of Product</span>
                    <select th:field="*{category}" class="form-select" aria-label="Default select example">
                        <option value="4"></option>
                        <option th:each="category : ${categoryList}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('category')}"
                          th:errors="*{category}"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary position-relative">
                        Create Product
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<th:block th:replace="~{common_product :: foot}"></th:block>
<th:block th:replace="~{common_product :: foot_bootstrap}"></th:block>
</body>
</html>