<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common/layout :: head_bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{common/layout :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">DETAIL EMPlOYEE</h2>
<!--    <button class="btn btn-warning"><a href="/" class="text-decoration-none">Go List Product</a></button>-->
</div>
<div class="px-5 col">
    <table class="table text-center">
        <tr>
            <td class="col-3"></td>
            <th class="col-3">ID of Employee</th>
            <td class="col-3" th:text="${employee.employeeId}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Name</th>
            <td class="col-3" th:text="${employee.employeeName}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Birthday</th>
            <td class="col-3" th:text="${employee.employeeBirthday}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Id Card</th>
            <td class="col-3" th:text="${employee.employeeIdCard}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Salary</th>
            <td class="col-3" th:text="${employee.employeeSalary}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Phone</th>
            <td class="col-3" th:text="${employee.employeePhone}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Email</th>
            <td class="col-3" th:text="${employee.employeeEmail}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Employee Address</th>
            <td class="col-3" th:text="${employee.employeeAddress}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Education Degree of Employee</th>
            <td class="col-3" th:text="${employee.educationDegree.educationDegreeName}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Position of Employee</th>
            <td class="col-3" th:text="${employee.position.positionName}"></td>
            <td class="col-3"></td>
        </tr>
        <tr>
            <td class="col-3"></td>
            <th class="col-3">Division of Employee</th>
            <td class="col-3" th:text="${employee.division.divisionName}"></td>
            <td class="col-3"></td>
        </tr>
    </table>
</div>
<th:block th:replace="~{common/layout :: foot}"></th:block>
<th:block th:replace="~{common/layout :: foot_bootstrap}"></th:block>
</body>
</html>