<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common_book :: head_bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{common_book :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">GIVE BOOK BACK</h2>
    <!--    <button class="btn btn-warning"><a href="/create" class="text-decoration-none">Create Product</a></button>-->
    <p class="text-success pt-2" th:text="${mess}"></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="d-flex" action="/borrow_book/give_back" method="post">
                <input class="form-control me-2" type="search" placeholder="Book Borrowing Code" aria-label="Search"
                       name="bookBorrowingCode">
                <button class="btn btn-outline-success" type="submit">Confirm</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<th:block th:replace="~{common_book :: foot}"></th:block>
<th:block th:replace="~{common_book :: foot_bootstrap}"></th:block>
</body>
</html>